nav {
    margin: 0;
    text-align: right;
}

nav a {
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    margin-bottom: 0px;
}

h1 {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 48pt;
    margin-top: 0px;
    padding-top: 0px;
}

h2 {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 24pt;
}

h3 {
    font-weight: bold;
}

a {
    color: #FFFCF2
}

body {
    background-color: #403D39;
    /*width: 700px;*/
    margin: auto;
    padding: 60px;
    font-family: 'Roboto', sans-serif;
    color: #FFFCF2;
    font-size: 12pt;
}

.sections {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(600px,1fr));
}

.section {
    /*margin-top: 25px;*/
    background-color: #CCC5B9;
    outline: 2px solid #252422;
    padding: 1px 20px 10px 20px;
    grid-auto-rows: 200px;
    /*width: 500px*/;
}

.bio {
    padding: 1px 20px 10px 20px;
    grid-auto-rows: 200px;
}

.section h2 {
    color: #252422;
}

.section h3 {
    color: #252422;
}

.section p {
    color: #252422;
}

.dream {
    font-style: italic;
}

.quote {
    font-style: italic;
    padding-left: 60px;
    padding-right: 20px
}

.section .extlink, .extlink {
    background-color: #EB5E28;
    padding: 5px 15px;
    color: #FFFCF2;
    margin: 5px 5px 5px 5px;
    width: fit-content;
    display: inline-block;
    box-shadow: 3px 3px #0002;
    text-decoration: none;
}

.section a {    
    color: #252422;
}

.extlink:hover {
    box-shadow: 1px 1px #0002;
    background-color: #BB4111;
}

img {
    width: calc(50% - 20px);
    outline: 2px solid #252422;
    margin: 5px 10px 5px 10px;
}

.imgs {
    text-align: center;
}